.layout-corpus-menu {
  padding-top: 80px;
  background: radial-gradient(ellipse at center, var(--background) 0%, rgba(204,44,52,0.9) 100%);

  .menu-title {
    margin: -0.5em 0 0.5em 0.5em;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
  }

  .menu-item {
    font-size: 1.2em;
    color: white;

    &.Mui-selected,
    &.Mui-selected:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
