.page-home {
  --background: #CC2C34;

  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at center, var(--background) 0%, rgba(204,44,52,0.9) 100%);

  .title {
    font-size: 4em;
    font-weight: bold;
    text-shadow: -1px -1px 0px var(--background),
    3px 3px 0px var(--background),
    6px 6px 0px #7E2929;
  }

  .feature-container {
    margin-top: 5em;
  }

  .download-container {
    margin-top: 10em;
  }
}
